@font-face {
    font-family: "code-bold";
    src: url(../../../public/fonts/FiraCode/FiraCode-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "code-light";
    src: url(../../../public/fonts/FiraCode/FiraCode-Light.ttf) format("truetype");
}

@font-face {
    font-family: "code-medium";
    src: url(../../../public/fonts/FiraCode/FiraCode-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "code-regular";
    src: url(../../../public/fonts/FiraCode/FiraCode-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "code-semibold";
    src: url(../../../public/fonts/FiraCode/FiraCode-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "inter-bold";
    src: url(../../../public/fonts/Inter/Inter_28pt-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "inter-extrabold";
    src: url(../../../public/fonts/Inter/Inter_28pt-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "inter-light";
    src: url(../../../public/fonts/Inter/Inter_28pt-Light.ttf) format("truetype");
}

@font-face {
    font-family: "inter-medium";
    src: url(../../../public/fonts/Inter/Inter_28pt-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "inter-regular";
    src: url(../../../public/fonts/Inter/Inter_28pt-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "inter-semibold";
    src: url(../../../public/fonts/Inter/Inter_28pt-SemiBold.ttf) format("truetype");
}